<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Asphalt-ModKit" version="0.5.0.2" targetFramework="net46" />
  <package id="EcoServer" version="0.7.8.5" targetFramework="net46" />
  <package id="Lib.Harmony" version="1.2.0.1" targetFramework="net46" />
  <package id="SharpYaml" version="1.6.3.1" targetFramework="net46" />
</packages>